<!-- Author: Konstantinos Anagnostopoulos -->
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- New Row with Two Wide Columns -->
    <div class="row mt-4 mb-4">
      <div class="col-md-6 d-flex flex-column justify-content-center">
         <!-- Left Column Content -->
         <div class="experience-text-reg">LIVE YOUR</div>
         <div class="experience-text-eff">UNFORGETTABLE</div>
         <div class="experience-text-reg">NEW YORK</div>
         <div class="experience-text-reg">EXPERIENCE</div>
         <!-- Button Below Text -->
         <div class="mt-3">
            <a href="/search?q=all" class="btn view-events-btn">View Events</a>
          </div>          
      </div>
      <div class="col-md-6">
        <!-- Right Column Content: YouTube Video Embed with Autoplay and Volume On -->
        <div class="video-container">
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/vn5RYH3MJIE?si=jLsK6vMXML5eVgll&start=32&autoplay=1&mute=1&controls=0&modestbranding=1&iv_load_policy=3&loop=1&playlist=vn5RYH3MJIE" 
            title="Experience New York - YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
            <p>Your browser does not support iframes. You can 
               <a href="https://www.youtube.com/embed/vn5RYH3MJIE?si=jLsK6vMXML5eVgll&start=32&autoplay=1&mute=1">watch the video on YouTube</a>.
            </p>
        </iframe>
        
        </div>
      </div>
    </div>

    <!-- White Space Row -->
    <div class="spacer"></div>

    <!-- Container for Popular Events -->
    <div id="popular-events" class="mt-4">
        <h2 class="subheader">Popular Upcoming Grooves</h2>
        <div class="row" id="popular-events-list">
            <!-- Events will be inserted dynamically here -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}